
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: aquamarine;
    color: crimson;
}
 @media  screen and (max-width:500px) {
    .container{
    background-color:red ;
    font-size: 15px;
    color: white;
    }
 }