*{
    margin: 0;
    padding:0;
box-sizing: border-box;
}

#root{
    background-color: black;
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: white;
    height:30vh;
    width:300px;
    display: block;
    text-align: center;
}
.heading{
    
    font-size: 50px;
}
.But{
    border:2px solid black;
    background-color: rgb(243, 106, 15);
    color:rgb(255, 255, 255);
    font-size:20;
    gap:20px;
    width: 200px;
    height: 50px;
    margin:12px;
}