*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
body{
    height:100vh;
    background-color: black;
}
#container{
    height:100vh;
    display: flex;
    width: 80%;
    margin: auto;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.user{
    width: 240px;
    height: 280px;
    background-color: white;
    padding: 5px;
    border: 2px solid gray;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.9s ease;
}
.user:hover{
    transform: scale(1.1);}
img{
    width:100%;
    height:180px;
    object-fit: cover;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aquamarine;
    text-align: center;
    font-size: 50px;
    margin: 20px 0px;    
}
h2{
    margin-top: 10px;
    font-size: 30px;
}
a{
    margin:10px;
    font-size: 25px;
    text-decoration: none;
    color:rgb(76, 0, 255);
}