.abc {
    margin-top: 160px;
    margin-right: 100px;
    font-size: 60px;
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center; 
    color: chocolate;
}
.a3{
    margin-right: 80px;
}
.a3 h2{
    font-size: 30px;
    margin-right: 40px;
}

.a1{
    margin-top:80px ;
    margin-left: 100px;
}
.a5{
    margin-top: 20px;
    color: rgb(29, 161, 238);
    font-size: 25px;
}
body {
    background-image: url("https://png.pngtree.com/png-clipart/20220914/original/pngtree-happy-navratri-and-dandiya-sticks-frame-png-image_8617796.png");
    background-repeat: no-repeat; 
    background-size: 100% 100%;   
    background-position: center; 
    height: 100vh;                
}
h3 {
    text-align: center;
    color: indigo;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.a2{

    height: 100px;
    width:600px;
    font-size: 20px;
    text-align: justify;
    margin-top: 50px;
    margin-left: 200px;
    margin-right:100px;
    color: chocolate;
}
.btn{
    display: flex;
    align-items:flex-end;
    margin-top: 120px;
margin-left: 250px;}
input{
    width:250px;
    cursor: pointer;
    background-color: chocolate;
    color:white;
    border-radius: 5px;
    font-size: 25px;

}