*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:100vh;
    width:100%;
    background-color: rgba(11, 11, 11, 0.977);
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.box{
    height: 200px;
    width:200px;
    background-color: rgb(190, 244, 226);
    cursor: pointer;
  /*transform:skew(20deg);*/
  transform:translate(200px,40px);
  
   
}
.box:hover{
    background-color: rgb(51, 0, 255);
    width:250px;
    height:250px;
   /* transform:scale(2);*/
  /*  transform:rotate(20deg);*/
}