*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: black;
}

.container{
    padding:30px;
    position:relative;
}
.box{
    height:200px;
    width:250px;
   
    position: absolute;
    animation-name: moving;/*Assing a name to animation*/
    animation-duration: 10s;
    /*IN How Much tym the animation will be completed*/
    animation-delay: 2s;/*After how much tym the animation will be start*/
    animation-iteration-count: infinite;/*Counts the times of animation to be perormed*/
    animation-timing-function: ease-in;/*in which way animation will be occur*/
    animation-direction:alternate;/*in which direction animation will be performed*/
}

   @keyframes moving {
    0%{
        background-color: rgb(245, 245, 247);
        top: 10px;
        left: 10px;
    }
    25%{
       background-color: rgb(121, 236, 236);
       top:500px;
       left:500px;
    }
    50%{
       background-color: rgb(0, 59, 59);
       top:500px;
       left:10px;
    }
    75%{
       background-color: rgb(0, 12, 12);
       top:10px;
       left:500px;
    }
    100%{
       background-color: rgb(6, 8, 8);
       top:10px;
       left:10px;
    }
    
   } 