body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
    border-top: 3px solid red;
    background-color: rgb(253, 251, 251);
    animation: loader 2s linear infinite;
    position: relative;
}

.a {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 45px;
    left: 45px;
    border: 4px solid rgba(0, 0, 0, 0.08);
    border-top: 4px solid #00bcd4;
    animation: load 1s linear infinite reverse;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}