.container{
    height: 800px;
    width: 800px;
    gap:0px;
    margin:20px;
    border: 2px solid black;
    display: grid;
    grid-template-rows:repeat(8,1fr);
    grid-template-columns: repeat(8,1fr) ;
    /* repeat(8,1fr) */
}
.white{
    height:100px;
    width: 100px;
    background-color: #fff;
}
.black{
    height:100px;
    width: 100px;
    background-color: black;
}