*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    margin: 50px;
    display: grid;
    height: 100vh;
width: 100%;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4, 1fr);
 gap: 20px;
 padding: 20px;

}
.box1{
    background-color: rgb(3, 120, 3);
    border: 2px solid rgb(3, 3, 3);
    
}
.box2{
    background-color: rgb(242, 14, 25);
    border: 2px solid rgb(9, 9, 9);
    
}
.box3{
    background-color: rgb(246, 120, 10);
    border: 2px solid rgb(12, 12, 12);
    
}
.item1{
    grid-row: 1/4;
}
.item2{
    grid-column: 2/4;
}
.item6{
    grid-column: 2/3;
}
.item8{
    grid-column:4/5 ;
    grid-row:2/4;
}