*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    display: grid;
    height: 800px;
width: 800px;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
 gap: 20px;
 padding: 20px;

}
.box{
    background-color: rgb(87, 186, 243);
    border: 2px solid red;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.sidebar{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
.content1{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.content2{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.content3{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.footer{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}