*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    gap: 50px;
}
.box{
    font-size: 40px;
    color:aliceblue;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #ff3c00;
    border-radius: 5px;
}
.b1{
    box-shadow: 10px 10px blue;
    /* First 2 arguments are for X & Y axis and giving negative value is for invert   */
}.b2{
    box-shadow: 10px 10px 5px ;
    /* 3rd argument is for  giving blur effect*/
}.b3{
    box-shadow: 0px 0px 10px 20px;
    /* 4th argument is for shadow radius */
}.b4{
    box-shadow: -5px -5px 10px aqua;
}