p{
    background-color:#FAFDD6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color:rgb(95,30,34);
    font-size:50px ;
} 