/* 50.6 million */
.container{
    width: 748px;
    height: 746px;
    background-color: black;
    display:grid;
    grid-template-rows: 414px  130px 155px 20px;
    grid-template-columns: 320px 198px 153px 50px;
    gap:9px;
}
.red{
    background-color:#e72f24;
}
.white{
    background-color: #f0f1ec;
}
.blue{
    background-color: #004592;
     grid-area: 2 / 4  / 3 / 5;

}
.yellow{
    background-color: #f9d01e;
     grid-area: 4 / 2  /  5 / 3;

}
.black{
    background-color: #232629;
}
 .a{
     grid-area: 1 / 2  / 2 / 5;
 }
 .b{
     grid-area: 2/ 1 / 4 / 2;
 }
 .c{
     grid-area: 2 / 2  / 4 / 4;
 }
 .d{
     grid-area: 4 / 1  / 5 / 2;
 }
 .e{
     grid-area: 3 / 4  / 5 / 5;
 }

 /* Another Way to do Same task using span */
 
/* .a{
    grid-column: span 3;
}
.b{
    grid-row: span 2;
}
.c{
    grid-row: span 2;
    grid-column: span 2;

}
.e{
    grid-row: span 2;
}
.d{
    grid-row: span 2;

} */
 
