p{
    color:rgb(170, 253, 15);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}

h1{
    color:rgb(0, 47, 255);
    font-family: "Monotype Corsiva";
    font-style: underline ;


}